<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>1071314257177-svsflghefgb02a50uoqsnmvi800qpn4b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDX3d6UejYgmAXKtrlHx_sQNes9UuL-wQY</string>
	<key>GCM_SENDER_ID</key>
	<string>1071314257177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bayoumStoreApp</string>
	<key>PROJECT_ID</key>
	<string>shop-30f59</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-30f59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071314257177:ios:b9ddbf4c6166f42bf3f188</string>
	<key>DATABASE_URL</key>
	<string>https://shop-30f59-default-rtdb.firebaseio.com</string>
</dict>
</plist>